<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login - GreeMind</title>
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}">

</head>
<body>
    <div class="login-container">
        <!-- Panel izquierdo -->
        <div class="left-panel">
            <h1>welcome</h1>
            <h2>GreeMind</h2>
            <p>Porque cada grano cuenta<br>gestiona tu café con inteligencia</p>
        </div>

        <!-- Panel derecho -->
        <div class="right-panel">
            <h2>Login</h2>
            <form>
                <input type="email" placeholder="Email" required>
                <input type="password" placeholder="password" required>
                <button type="submit" value="Iniciar">Login</button>
                <div class="links">
                    <a href="{{url_for('Olvide')}}">forgot password?</a>
                    <a href="{{url_for('Recuperar')}}">recover account</a>
                </div>
            </form>
        </div>
    </div>
    <script src="{{ url_for('static', filename='js/toggle-password.js') }}"></script>
</body>
</html>
